$breakpoint-min: 320px;
$breakpoint-max: 425px;

.Btn-home {
    color: #000;
    font-size: 1.7rem;
    
    border: none;
    text-decoration: none;
    cursor: pointer;
    padding: 10px 50px;
    background-color: #ffc500;
    border-radius: 15px;
    outline: none;

    -webkit-box-shadow: 1px 2px 5px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 4px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 4px rgba(0,0,0,0.75);
}

@media (min-width: $breakpoint-min) and (max-width: $breakpoint-max) {
    .Btn-home {
        font-size: 1.2rem;
    }
}